form label.required:after
{
    color: red;
    content: " *";
}

textarea {
    width:100%;
    resize: none;
}

.botao {
    color: DodgerBlue;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; 
}

.botao:hover {
    color: RoyalBlue;
}

label input[type="checkbox"] {
    display: none;
}

label h4 {
	cursor: pointer;
	text-decoration: underline;
}

.collapse {
    height: 0px;
    overflow: hidden;
    transition: height 0.8s;
}

input:checked + .collapse {
    height: 200px;
}