form label.required:after
{
    color: red;
    content: " *";
}

textarea {
    width:100%;
    resize: none;
}

.botao {
    color: DodgerBlue;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; 
}

.botao:hover {
    color: RoyalBlue;
}